@media (max-width: 690px) {
  .menuToggle {
    display: block;
  }
  header.sticky {
    padding: 5px;
  }
  header .navigation {
    display: none;
  }
  .main {
    height: 75vh;
  }
  .title-main h1 {
    font-size: 2.5em;
  }
  .perfil {
    display: block;
  }
  .image,
  .about {
    width: 100%;
  }
  .about {
    margin: 70px;
  }

  .image img {
    width: 80%;
  }
  .title-main {
    padding-top: 50%;
  }
  .image img {
    width: 250px;
  }

  .imagesProjects .image,
  .imagesProjects .descrition {
    width: 350px;
    margin: 10px;
  }
  .knowledge-technology,
  .other-knowledges {
    width: clamp(350px, 350px, 600px);
  }
  .about-container-one,
.about-container-two {
  width: 280px;
  margin: 25px 0px;
}
.about-container {
  display: block;
}

}


