@media (max-width: 690px) {
  .menuToggle {
    display: block;
  }
  header .navigation {
    display: none;
  }
  .main {
    height: 75vh;
  }
  .title-main h1 {
    font-size: 2.5em;
  }
  .perfil {
    display: block;
  }
  .image,
  .about {
    width: 100%;
  }
  .about {
    margin: 70px;
  }

  .image img {
    width: 80%;
  }
  .title-main {
    padding-top: 50%;
  }
  .image img {
    width: 250px;
  }

  .imagesProjects .image,
  .imagesProjects .descrition {
    width: 350px;
    margin: 10px;
  }
}
